@model IEnumerable<SistemaBandaEdoOaxaca.Instrumentos>

@{
    ViewBag.Title = "Index";
}

<h2>LISTA DE INSTRUMENTOS</h2>

<p>
    @Html.ActionLink("Crear Nuevo Instrumento", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreInstrumento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreInstrumento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idInstrumento }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idInstrumento }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.idInstrumento })
        </td>
    </tr>
}

</table>
