@model SistemaBandaEdoOaxaca.DonacionInterna

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>Estas Seguro de querer borrar este registro?</h3>
<div>
    <h4>Donacion Interna</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.isReciproco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isReciproco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.objeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.objeto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObraMusical.tituloObra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObraMusical.tituloObra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estados.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estados.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Musico.idCuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Musico.idCuenta)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    }
</div>
