@model SistemaBandaEdoOaxaca.ObraMusical

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>Estas Seguro de querer borrar este registro?</h3>
<div>
    <h4>ObraMusical</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tituloObra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tituloObra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.autor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.autor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disponibilidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disponibilidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paginas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paginas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numPartichelas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numPartichelas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero.genero1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero.genero1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    }
</div>
