@model IEnumerable<SistemaBandaEdoOaxaca.DonacionExterna>

@{
    ViewBag.Title = "Index";
}

<h2>LISTA DE DONACION EXTERNAS</h2>

<p>
    @Html.ActionLink("Crear Nueva Donacion Externa", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.isReciproco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.objeto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObraMusical.tituloObra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estados.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solicitante.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.isReciproco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.objeto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObraMusical.tituloObra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estados.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Solicitante.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idDonacionExterna }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idDonacionExterna }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.idDonacionExterna })
        </td>
    </tr>
}

</table>
