@model SistemaBandaEdoOaxaca.Solicitante

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Solicitante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoPaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoPaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoMaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoMaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dependencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dependencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correoElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correoElectronico)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idSolicitante }) |
    @Html.ActionLink("Regresar a la Lista", "Index")
</p>
